@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.myinfo {
    padding: 25px;
  }

.myname{
    font-family: 'Dancing Script', cursive;
    color: orange;
}

.mydescription{
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
}

.a-btn{
    padding: 15px;
    border: solid 1px blue;
    color: blue;
    border-radius: 25px;
    margin-left: 10px;
}
.a-btn:hover{
    border: solid 1px lightskyblue;
    color: lightskyblue;
}

hr {
    border: 1px solid rgb(245, 241, 241);
}

.projects {
    color: orange;
}
.projects:hover {
    color: rgb(253, 204, 113);
}

footer li a{
    font-size: 20px;
}
footer li a:hover{
    border-bottom: solid 2px orange;
}

.card{
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.0) rotate(-3deg);
    box-shadow: 0 6px 10px rgba(255, 102, 0, 0.2);
}

.card a{
    color: orange;
    font-size: 18px;
    font-weight: bold;
}
.card a:hover{
    color: yellow;
}

.site {
    margin-left: 10px;
}
